<div class="vh-100 row m-0 text-center align-items-center justify-content-center">

    <form class="col-auto" [formGroup]="userForm" (ngSubmit)="onSubmit('','')">
      <h4 for="" class="form-label">Log In</h4>
      <input type="email" class="form-control  m-1" name="email" id="email" placeholder="Email" formControlName="email">
      <input type="password" class="form-control  m-1" name="password" id="password" placeholder="Password" formControlName="pass">

      <div class="d-grid gap-2">
        <button type="submit" name="" id="" class="btn btn-success">Entrar</button>
      </div>
    </form>

</div>